# Godot 4+ specific ignores
.godot/

.vscode/
Build/Trinketeer.pck
Build/Trinketeer.exe
Build/Trinketeer.console.exe
Game.zip
Game/Trinketeer.exe
Game/Trinketeer.pck
itch_screenshot_2.png
itch_screenshot_2.png.import
Trinketeer(test).zip
Trinketeer.console.exe
Trinketeer/Trinketeer.exe
